.ad {
  width: auto;
  background-color: @lightgrey;
}

.ad__wrapper {
  // width: auto;
  .container();
  min-height: 452px;
  box-sizing: border-box;
}

@media @desktop-widths {
  .ad__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 81%;
    max-width: 1920px;
    min-height: 310px;
    margin: 0 auto;
  }
}
