.brands {
  // height: 245px;
  background-color: yellow;
  // box-sizing: border-box;
}

.brands__wrapper {
  .container();
  height: 245px;
  border: 1px solid black;
  box-sizing: border-box;
}

@media @desktop-widths {
  .brands {
    // height: 88px;
    background-color: red;
  }

  .brands__wrapper {
    height: 88px;
  }
}
