.btn {
  display: inline-block;
  padding: 5px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 17.07px;
  color: @clearwhite;
  background-color: @orange;
  border-radius: 50px;
  text-decoration: none;
}
