.clients {
  // height: 620px;
  background-color: pink;
  // box-sizing: border-box;
}

.clients__wrapper {
  .container();
  height: 620px;
  border: 1px solid black;
  box-sizing: border-box;
}

@media @desktop-widths {
  .clients {
    height: 580px;
    background-color: red;
  }
}
