.clients {
  // height: 620px;
  background-color: @lightgrey;
  // box-sizing: border-box;
}

.clients__wrapper {
  .container();
  display: flex;
  flex-wrap: wrap;
  height: 620px;
  border: 1px solid black;
  box-sizing: border-box;
}

.clients__title {
  display: block;
  width: 320px;
  height: 100px;
  padding-top: 55px;
  padding-left: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 21.34px;
  line-height: auto;
  color: @lightblack;
  background-color: @lightgrey;
  box-sizing: border-box;
}

.clients__item {
  width: 159px;
  height: 131px;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 10.67px;
  line-height: auto;
  color: @lightblack;
  background-color: @lightgrey;
  text-align: center;
  box-sizing: border-box;
}

.clients__item:nth-child(8),
.clients__item:nth-child(9),
.clients__item:nth-child(10),
.clients__item:nth-child(11),
.clients__item:nth-child(12),
.clients__item:nth-child(13),
.clients__item:nth-child(14),
.clients__item:nth-child(15),
.clients__item:nth-child(16),
.clients__item:nth-child(17),
.clients__item:nth-child(18),
.clients__item:nth-child(19), {
  display: none;
}

.clients__button {
  display: block;
  width: 320px;
  height: 125px;
  padding-left: 125px;
  text-decoration: none;
}

.clients__more {
  margin-left: 15px;
}

.clients__text {
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: auto;
  color: @black;
  background-color: @lightgrey;
}

@media @desktop-widths {
  .clients {
    height: 580px;
  }

  .clients__wrapper {
    justify-content: space-between;
    width: 900px;
  }

  .clients__title {
    width: 100%;
    margin-top: 20px;
    padding-left: 370px;
    font-size: 25px;
    line-height: auto;
    border: 1px solid black;
  }

  .clients__item {
    width: 143px;
    height: 131px;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 8.75px;
    line-height: auto;
    border: 1px solid black;
  }

  .clients__item:nth-child(8),
  .clients__item:nth-child(9),
  .clients__item:nth-child(10),
  .clients__item:nth-child(11),
  .clients__item:nth-child(12),
  .clients__item:nth-child(13),
  .clients__item:nth-child(14),
  .clients__item:nth-child(15),
  .clients__item:nth-child(16),
  .clients__item:nth-child(17),
  .clients__item:nth-child(18),
  .clients__item:nth-child(19), {
    display: block;
  }

  .clients__more,
  .clients__text {
    display: none;
  }
}
