.descr {
  // height: 820px;
  background-color: purple;
  // box-sizing: border-box;
}

.descr__wrapper {
  .container();
  height: 820px;
  border: 1px solid black;
  box-sizing: border-box;
}

@media @desktop-widths {
  .descr {
    height: 520px;
    background-color: yellow;
  }
}
