.descr {
  background-color: @lightgrey;
}

.descr__wrapper {
  .container();
  height: 820px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media @desktop-widths {
  .descr {
    height: 520px;
  }

  .descr__wrapper {
    width: 865px;
    padding-top: 120px;
  }
}
