.footer {
  background-color: @darkgrey;
}

.footer__wrapper {
  .container();
  height: 240px;
  box-sizing: border-box;
}

@media @desktop-widths {
  .footer__wrapper {
    width: 865px;
    height: 300px;
  }
}
