.footer {
  background-color: @darkgrey;
}

.footer__wrapper {
  .container();
  min-height: 240px;
  box-sizing: border-box;
}

@media @desktop-widths {
  .footer__wrapper {
    width: 81%;
    min-height: 480px;
    margin: 0 auto;
  }
}
