.header {
  background-color: @lightgrey;
}

@media @desktop-widths {
  .header {
    // height: 135px;
    background-color: @lightgrey;
  }

  // .header__user {
  //   height: 50px;
  // }

  .header__equipment {
    height: 63px;
  }
}
