.indicators {
  width: 320px;
  height: 385px;
  padding-left: 38px;
  box-sizing: border-box;
}

.indicators__logo {
  position: relative;
  height: 20px;
  margin-top: 190px;
  font-style: normal;
  font-weight: 400;
  font-size: 21.34px;
  line-height: auto;
  color: @black;
  background-color: @lightgrey;
  box-sizing: border-box;
}

.indicators__logo::before {
  content: "";
  position: absolute;
  top: -120px;
  left: 0;
  width: 106px;
  height: 106px;
  background-image: url("../img/fork-and-knife-big.png");
  background-repeat: no-repeat;
  background-position: center;
}

.indicators__logo-text {
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 10.67px;
  line-height: 10.67px;
  color: @grey;
  background-color: @lightgrey;
  box-sizing: border-box;
}

.indicators__item {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 17.07px;
  line-height: 17.07px;
  color: @moreblack;
  background-color: @lightgrey;
  box-sizing: border-box;
}

.indicators__title {
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 17.07px;
  color: @grey;
  background-color: @lightgrey;
  box-sizing: border-box;
}

.indicators__text {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: auto;
  color: @lightblack;
  background-color: @lightgrey;
  list-style: none;
}

@media @desktop-widths {
  .indicators {
    order: 1;
    width: 400px;
    min-height: 460px;
    margin-left: 150px;
    box-sizing: border-box;
  }

  .indicators__item {
    margin-top: 50px;
    font-size: 24px;
    line-height: auto;
  }

  .indicators__title {
    font-size: 18px;
    line-height: 24px;
  }

  .indicators__text {
    font-size: 18px;
    line-height: auto;
  }

  .indicators__logo {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: auto;
  }

  .indicators__logo-text {
    font-size: 23px;
    line-height: 23px;
  }

  .indicators__logo::before {
    top: -170px;
    left: 0;
    width: 160px;
    height: 160px;
    background-image: url("../img/logo-descr-1920.png");
  }
}
