.info {
  min-height: 102px;
  padding-top: 20px;
  padding-left: 20px;
  color: @white;
  background-color: @lightblack;
}

.info__wrapper {
  width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.info__logo {
  position: relative;
  width: 180px;
  height: 20px;
  margin-left: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 21.34px;
  line-height: 15.39px;
  color: @clearwhite;
  background-color: @lightblack;
  box-sizing: border-box;
}

.info__logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 39px;
  height: 38px;
  background-image: url("../img/logo-header-1920.png");
  background-repeat: no-repeat;
  background-position: center;
}

.info__logo-text {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 15.39px;
  color: @grey;
  background-color: @lightblack;
}

.info__developer {
  display: inline-block;
  margin-top: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 17.07px;
  line-height: 15.39px;
  color: @clearwhite;
  background-color: @lightblack;
}

@media @desktop-widths {
  .info {
    min-height: 75px;
    padding-top: 30px;
  }

  .info__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 81%;
    margin: 0 auto;
  }

  .info__logo {
    margin-left: 10px;
    font-size: 24px;
    line-height: 18px;
  }

  .info__logo::before {
    top: 0;
    left: -30px;
    width: 25px;
    height: 25px;
    background-image: url("../img/logo-footer.png");
  }

  .info__logo-text {
    width: 300px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 18px;
  }

  .info__developer {
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
  }
}
