.news {
  display: none;
}

@media @desktop-widths {
  .news {
    display: block;
    // height: 583px;
    background-color: lightseagreen;
  }

  .news__wrapper {
    .container();
    height: 583px;
    border: 1px solid black;
    box-sizing: border-box;
  }
}
