.news {
  display: none;
}

@media @desktop-widths {
  .news {
    display: block;
    background-color: @lightgrey;
  }

  .news__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 81%;
    min-height: 940px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }

  .news__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .news__title {
    display: block;
    width: 100%;
    height: 160px;
    padding-top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: auto;
    color: @lightblack;
    background-color: @lightgrey;
    box-sizing: border-box;
  }

  .news__item {
    position: relative;
    width: 810px;
    height: 170px;
    padding-left: 212px;
    box-sizing: border-box;
  }

  .news__item:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 195px;
    height: 175px;
    background-image: url("../img/news-2.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .news__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 195px;
    height: 175px;
    background-image: url("../img/news-3.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .news__item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 195px;
    height: 175px;
    background-image: url("../img/news-4.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .news__item-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 490px;
    height: 310px;
    background-image: url("../img/news-1.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .news__item-main {
    position: relative;
    width: 505px;
    height: 680px;
    margin-right: auto;
    margin-bottom: 25px;
    padding-top: 330px;
    padding-left: 0;
    box-sizing: border-box;

    .news__date {
      position: relative;
      left: 350px;
    }
  }

  .news__author {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: auto;
    color: @green;
    background-color: @lightgrey;
    box-sizing: border-box;
  }

  .news__date {
    position: relative;
    left: 500px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: auto;
    color: @grey;
    background-color: @lightgrey;
    box-sizing: border-box;
  }

  .news__descr {
    display: block;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: @lightblack;
    background-color: @lightgrey;
    text-decoration: none;
    box-sizing: border-box;
  }

  .news__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: auto;
    color: @lightblack;
    background-color: @lightgrey;
    box-sizing: border-box;
  }

  .news__text {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: auto;
    color: @lightblack;
    background-color: @lightgrey;
    box-sizing: border-box;
  }

  .news__btn-wrapper {
    width: 100%;
  }

  .news__btn {
    font-size: 16px;
    line-height: 40px;
    margin-top: -3px;
    margin-right: auto;
  }
}
