.next {
  display: block;
  position: relative;
  // bottom: 15px;
  // left: 285px;
  width: 10px;
  height: 10px;
  background-color: @darkgrey;
  border: none;
}

.next::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 2px;
  width: 8px;
  height: 1px;
  transform: rotate(30deg);
  background-color: @clearwhite;
}

.next::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 2px;
  width: 8px;
  height: 1px;
  transform: rotate(150deg);
  background-color: @clearwhite;
}

// .next_white {
//   background-color: @darkgrey;
// }

// .next_white::before {
//   background-color: @clearwhite;
// }

// .next_white::after {
//   background-color: @clearwhite;
// }

.next_orange::before {
  background-color: @white;
}

.next_orange::after {
  background-color: @white;
}

.next_orange {
  background-color: @orange;
}


