.offers {
  background-color: @lightgrey;
}

.offers__wrapper{
  .container();
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  // width: auto;
  // min-height: 725px;
  // margin: 0 auto;
  box-sizing: border-box;
}

@media @desktop-widths {
  .offers__wrapper{
    width: 81%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 270px;
  }
}
