.portfolio {
  height: 235px;
  // border: 1px solid black;

  background-color: @darkgrey;
  box-sizing: border-box;
}

.portfolio__item {
  width: 160px;
  height: 145px;
  padding-top: 28px;
  padding-left: 12px;
}

.portfolio__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 160px;
  height: 145px;
  background-image: url("../img/equipment1.png");
}

.portfolio__text {
  display: inline-block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 10.67px;
  line-height: 14.08px;
  color: @grey;
  background-color: @darkgrey;
}

.portfolio__title {
  display: inline-block;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 17.07px;
  line-height: 17.92px;
  color: @white;
  background-color: @darkgrey;
}

.portfolio__descr {
  display: inline-block;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 10.67px;
  line-height: 14.08px;
  color: @white;
  background-color: @darkgrey;
}

.portfolio__prev {
  top: 15px;
  left: 12px;
}

.portfolio__next {
  top: 5px;
  left: 295px;
}

.portfolio__pagination {
  position: relative;
  top: 28px;
  left: 132px;
}

@media @desktop-widths {
  .portfolio {
    width: 565px;
    height: 300px;
  }

  .portfolio__item {
    width: 313px;
    padding-top: 35px;
    padding-left: 45px;
    box-sizing: border-box;
  }

  .portfolio__text {
    font-size: 10px;
    line-height: 12.5px;
  }

  .portfolio__title {
    margin-top: 20px;
    font-size: 25px;
    line-height: 26.25px;
  }

  .portfolio__descr {
    font-size: 11.25px;
    line-height: 12.5px;
  }

  .portfolio__btn {
    display: block;
    width: 50px;
    margin-top: 25px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 11.25px;
    line-height: 25px;
  }

  .portfolio__prev,
  .portfolio__next {
    display: none;
  }

  .portfolio__pagination {
    top: 122px;
    left: 257px;
  }

}
