.portfolio {
  width: auto;
  height: 235px;
  background-color: @darkgrey;
  box-sizing: border-box;
}

.portfolio__wrapper {
  width: 320px;
  margin: 0 auto;
}

.portfolio__item {
  position: relative;
  width: 160px;
  height: 150px;
  margin: 0 auto;
  padding-top: 28px;
  padding-left: 12px;
  padding-right: 140px;
}

.portfolio__item::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 160px;
  width: 160px;
  height: 170px;
  background-image: url("../img/equipment1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__text {
  display: inline-block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 10.67px;
  line-height: 14.08px;
  color: @grey;
  background-color: @darkgrey;
}

.portfolio__title {
  display: inline-block;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 17.07px;
  line-height: 17.92px;
  color: @white;
  background-color: @darkgrey;
}

.portfolio__descr {
  display: inline-block;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 10.67px;
  line-height: 14.08px;
  color: @white;
  background-color: @darkgrey;
}

.portfolio__controls span {
  background-color: @darkgrey;
  border: 1px solid @clearwhite;
  box-sizing: border-box;
}

.portfolio__controls {
  margin-bottom: 10px;
}

// .portfolio__prev {
//   top: 15px;
//   left: 50%;
//   margin-left: -145px;
// }

// .portfolio__next {
//   top: 5px;
//   left: 50%;
//   margin-left: 135px;
// }

// .portfolio__pagination {
//   position: relative;
//   top: 28px;
//   left: 50%;
//   width: 60px;
//   margin-left: -30px;
// }

@media @desktop-widths {
  .portfolio {
    flex-grow: 1;
    min-width: 800px;
    height: 480px;
    margin: 0 15px;
    margin-top: 20px;
  }

  .portfolio__item {
    width: 900px;
    height: 480px;
    padding-top: 70px;
    padding-right: 400px;
    box-sizing: border-box;
  }

  .portfolio__item::before {
    top: 50px;
    left: 450px;
    width: 280px;
    height: 360px;
    background-image: url("../img/slider-1-1920.png");
  }

  .portfolio__text {
    font-size: 16px;
    line-height: 20px;
  }

  .portfolio__title {
    margin-top: 60px;
    font-size: 40px;
    line-height: 42px;
  }

  .portfolio__descr {
    font-size: 18px;
    line-height: 20px;
  }

  .portfolio__btn {
    display: block;
    width: 130px;
    margin-top: 45px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
  }

  // .portfolio__prev,
  // .portfolio__next {
  //   display: none;
  // }

  .portfolio__pagination {
    top: -50px;
    left: 50%;
  }
}
