.recommend {
  // height: 1428px;
  background-color: blue;
  // box-sizing: border-box;
}

.recommend__wrapper {
  .container();
  height: 1428px;
  border: 1px solid black;
  box-sizing: border-box;
}

@media @desktop-widths {
  .recommend {
    height: 967px;
    background-color: orange;
  }
}
