.recommend {
  background-color: @lightgrey;
}

.recommend__wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.recommend__item-wrapper {
  display: flex;
  flex-direction: column;
}

.recommend__item {
  min-height: 200px;
  margin-bottom: 5px;
}

.recommend__descr {
  position: relative;
  width: 295px;
  height: 170px;
  margin: 0 auto;
  background-color: @clearwhite;
}

.recommend__descr-title {
  display: inline-block;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 15px;
  padding-left: 85px;
  font-style: normal;
  font-weight: 400;
  font-size: 21.34px;
  line-height: 21.34px;
  color: @black;
  background-color: @clearwhite;
  box-sizing: border-box;
}

.recommend__descr-text {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 12.8px;
  color: @black;
  background-color: @clearwhite;
  text-align: center;
}

.recommend__item {
  position: relative;
  flex-grow: 1;
  height: 205px;
  background-color: @clearwhite;

  .recommend__item-brand {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 12.8px;
    line-height: 12.8px;
    text-transform: uppercase;
  }

  .recommend__item-title {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 17.07px;
    line-height: 17.07px;
  }

  .recommend__item-text {
    display: inline-block;
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 10.67px;
    line-height: 10.67px;
  }
}

.recommend__first-link-wrapper::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 93px;
  height: 188px;
  background-image: url("../img/equipment-3.png");
  background-repeat: no-repeat;
}

.recommend__first-item-wrapper {
  display: flex;
  flex-direction: column;

  .recommend__second-link-wrapper::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 210px;
    width: 73px;
    height: 175px;
    background-image: url("../img/equipment-4.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .recommend__third-link-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 190px;
    width: 107px;
    height: 205px;
    background-image: url("../img/equipment-5.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.recommend__forth-link-wrapper::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 210px;
  width: 73px;
  height: 175px;
  background-image: url("../img/equipment-4.png");
  background-repeat: no-repeat;
  background-position: center;
}

.recommend__item-wrapper {

  .recommend__fifth-link-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 93px;
    height: 188px;
    background-image: url("../img/equipment-3.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .recommend__sixth-link-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 190px;
    width: 107px;
    height: 205px;
    background-image: url("../img/equipment-5.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.recommend__item_dark {
  background-color: @darkgrey;

  .recommend__item-brand {
    padding-left: 120px;
    color: @clearwhite;
    background-color: @darkgrey;
    box-sizing: border-box;
  }

  .recommend__item-title {
    padding-left: 120px;
    color: @clearwhite;
    background-color: @darkgrey;
    box-sizing: border-box;
  }

  .recommend__item-text {
    padding-left: 120px;
    padding-right: 30px;
    color: @grey;
    background-color: @darkgrey;
  }
}

.recommend__item_light {
  .recommend__item-brand {
    padding-left: 30px;
    color: @darkgrey;
    background-color: @clearwhite;
    box-sizing: border-box;
  }

  .recommend__item-title {
    padding-left: 30px;
    color: @darkgrey;
    background-color: @clearwhite;
    box-sizing: border-box;
  }

  .recommend__item-text {
    padding-left: 30px;
    padding-right: 120px;
    color: @grey;
    background-color: @clearwhite;
    box-sizing: border-box;
  }
}

@media @desktop-widths {
  .recommend {
    min-height: 1540px;
  }

  .recommend__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 81%;
    min-height: 1540px;
    margin: 0 auto;
  }

  .recommend__first-link-wrapper {
    position: relative;
    width: 600px;
    height: 480px;
    margin-right: auto;
  }

  .recommend__first-link-wrapper::before {
    top: 50px;
    left: 0;
    width: 600px;
    height: 435px;
    background-image: url("../img/recommend-1.png");
  }

  .recommend__first-item-wrapper {
    flex-direction: row;
    flex-grow: 1;

    .recommend__second-link-wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 150px;
      height: 300px;
      margin-left: -75px;
      background-image: url("../img/recommed-2-desktop копия.png");
    }

    .recommend__third-link-wrapper::before {
      top: 0;
      left: 50%;
      width: 150px;
      height: 300px;
      margin-left: -75px;
      background-image: url("../img/recommend-3-desktop.png");
    }
  }

  .recommend__forth-link-wrapper {
    width: 450px;
    height: 750px;
    margin: 0 auto;
  }

  .recommend__forth-link-wrapper::before {
    top: 280px;
    left: 50%;
    width: 450px;
    height: 470px;
    margin-left: -225px;
    background-image: url("../img/recommend-4-desktop.png");
  }

  .recommend__item-wrapper {

    .recommend__fifth-link-wrapper::before {
      top: 0;
      left: 0;
      width: 190px;
      height: 420px;
      background-image: url("../img/recommend-5-desktop.png");
    }

    .recommend__sixth-link-wrapper::before {
      top: 0;
      left: 100%;
      display: block;
      width: 300px;
      height: 320px;
      margin-left: -300px;
      background-image: url("../img/recommend-6-desktop.png");
    }
  }

  .recommend__descr {
    width: 100%;
    min-height: 300px;
    background-color: @lightgrey;
  }

  .recommend__descr-wrapper {
    min-width: 600px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 100px;
  }

  .recommend__descr-title {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 40px;
    line-height: auto;
    text-align: center;
    color: @darkgrey;
    background-color: @lightgrey;
  }

  .recommend__descr-text {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: @grey;
    background-color: @lightgrey;
  }

  .recommend__item-title {
    font-size: 30px;
    line-height: auto;
  }

  .recommend__item-brand {
    font-size: 20px;
    line-height: auto;
  }

  .recommend__item-text {
    font-size: 16px;
    line-height: auto;
  }

  .recommend__item_width {
    width: 500px;
    height: 485px;

    .recommend__item-brand {
      position: relative;
      z-index: 10;
      width: 150px;
      margin-top: 200px;
      margin-bottom: 20px;
      margin-left: 250px;
      padding: 0;
      font-size: 20px;
      line-height: auto;
    }

    .recommend__item-title {
      position: relative;
      z-index: 10;
      width: 150px;
      margin-top: 0;
      margin-left: 250px;
      padding: 0;
      font-size: 30px;
      line-height: auto;
    }

    .recommend__item-text {
      position: relative;
      z-index: 10;
      width: 250px;
      margin-top: 20px;
      margin-left: 250px;
      padding: 0;
      font-size: 16px;
      line-height: auto;
    }
  }

  .recommend__first-item-wrapper {

    .recommend__second-link-wrapper,
    .recommend__third-link-wrapper {
      position: relative;
      width: 240px;
      margin: 0 auto;
      margin-top: 30px;
    }

    .recommend__item:nth-child(1) {
      margin-right: 5px;
    }

    .recommend__item:nth-child(1),
    .recommend__item:nth-child(2) {
      flex-grow: 1;
      width: 300px;
      height: 485px;
    
    
    .recommend__item-brand {
      width: 100%;
      margin: 0;
      margin-top: 300px;
      padding: 0;
      font-size: 20px;
      line-height: auto;
      text-align: center;
    }

    .recommend__item-title {
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 30px;
      line-height: auto;
      text-align: center;
    }

    .recommend__item-text {
      width: 100%;
      margin: 0;
      margin-top: 20px;
      padding: 0;
      font-size: 16px;
      line-height: auto;
      text-align: center;
    }
  }
}

  .recommend__item:nth-child(4) {
    width: 600px;
    height: 750px;
    margin: 0;
    margin-top: 5px;

    .recommend__item-brand {
      position: relative;
      z-index: 10;
      margin-top: 120px;
      margin-bottom: 20px;
      padding-left: 10px;
      font-size: 20px;
      line-height: auto;
      text-align: center;
    }

    .recommend__item-title {
      position: relative;
      z-index: 10;
      margin: 0;
      padding-left: 10px;
      font-size: 30px;
      line-height: auto;
      text-align: center;
    }

    .recommend__item-text {
      position: relative;
      z-index: 10;
      margin: 15px;
      padding-left: 80px;
      padding-right: 65px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }
  }

  .recommend__item-wrapper {
    flex-grow: 4;
    width: 500px;
    margin-top: 5px;
    box-sizing: border-box;

    .recommend__fifth-link-wrapper {
      width: 510px;
      height: 420px;
      margin-right: auto;
      padding-left: 250px;
      box-sizing: border-box;
    }

    .recommend__sixth-link-wrapper {
      min-width: 540px;
      max-width: 730px;
      height: 320px;
      margin-left: auto;
      padding-left: 10px;
      padding-right: 320px;
      box-sizing: border-box;
    }
  
    .recommend__item:nth-child(1) {
      flex-grow: 1;
      width: auto;
      height: 420px;
      margin-top: 5px;
      margin-left: 5px;
      box-sizing: border-box;

      .recommend__item-brand {
        position: relative;
        z-index: 10;
        margin: 0;
        margin-top: 130px;
        margin-bottom: 20px;
        padding: 0;
        font-size: 20px;
        line-height: auto;
        text-align: left;
      }

      .recommend__item-title {
        position: relative;
        z-index: 10;
        width: 100px;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        font-size: 30px;
        line-height: 30px;
        text-align: left;
      }

      .recommend__item-text {
        position: relative;
        z-index: 10;
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 16px;
        text-align: left;
      }
    }

    .recommend__item:nth-child(2) {
      flex-grow: 1;
      width: auto;
      height: 320px;
      margin-left: 5px;

      .recommend__item-brand {
        margin: 0;
        margin-top: 70px;
        margin-bottom: 20px;
        padding: 0;
        font-size: 20px;
        line-height: auto;
      }

      .recommend__item-title {
        width: auto;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        font-size: 30px;
        line-height: 30px;
      }

      .recommend__item-text {
        width: auto;
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}
