.service {
  height: 555px;
  background-color: @orange;
  box-sizing: border-box;
}

.service__item {
  position: relative;
  background-color: transparent;
}

.service__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 238px;
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: left;
}

.service__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  margin-top: 112px;
  padding-left: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 21.34px;
  line-height: 17.92px;
  color: @white;
  box-sizing: border-box;
}

.service__descr {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  padding-left: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 14.08px;
  color: @white;
  box-sizing: border-box;
}

.service__btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 15px;
  padding-left: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 14.08px;
  color: @white;
}

.service__controls span {
  background-color: @orange;
  border: 1px solid @clearwhite;
  box-sizing: border-box;
}

// .service__pagination {
//   position: relative;
//   top: 14px;
//   left: 133px;
// }

// .service__prev {
//   position: relative;
//   left: 10px;
// }

// .service__next {
//   position: relative;
//   top: -10px;
//   left: 295px;
// }

@media @desktop-widths {
  .service {
    width: 285px;
    height: 270px;
  }

  .service__item::before {
    top: 0;
    left: 0;
    width: 286px;
    height: 270px;
    background-image: url("../img/slider-2-desktop.png");
  }

  .service__title {
    margin-top: 165px;
    padding-left: 30px;
    font-size: 25px;
    line-height: auto;
  }

  .service__descr {
    padding-left: 30px;
    font-size: 10px;
    line-height: 13.75px;
  }

  .service__btn {
    margin-top: 5px;
    padding-left: 30px;
    font-size: 10px;
    line-height: 12.5px;
  }

  // .service__prev,
  // .service__next {
  //   display: none;
  // }

  .service__pagination {
    top: 10px;
    left: 115px;
  }
}
