.slider {
    position: relative;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__inner {
  width: 400%;
}

.slider__item {
  float: left;
  width: 320px;
  height: 220px;
}

.slider__controls {
  position: relative;
  z-index: 10;
  height: 10px;
  margin-top: -30px;
  text-align: center;
}

.slider__controls span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  border: 1px solid @clearwhite;
  border-radius: 50%;
  cursor: pointer;
}

@media @desktop-widths {
  .slider__item {
    width: 460px;
    height: 430px; 
  }

  .slider__controls span {
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
}