.special {
  height: 488px;
  // border: 1px solid black;
  box-sizing: border-box;
}

.special__title {
  display: block;
  width: 295px;
  height: 40px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 17.07px;
  line-height: 17.07px;
  color: @black;
  background-color: @lightblack;
  background-color: @clearwhite;
  text-decoration: none;
  box-sizing: border-box;
}

.special__item {
  display: block;
  width: 295px;
  height: 144px;
  margin: 1px auto;
  padding-left: 160px;
  background-color: @clearwhite;
  box-sizing: border-box;
}

.special__item-name {
  display: inline-block;
  width: 105px;
  padding-top: 45px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 12.8px;
  color: @black;
  background-color: @lightblack;
  background-color: @clearwhite;
  text-decoration: none;
}

.special__item-price {
  display: inline-block;
  width: 105px;
  font-style: normal;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 12.8px;
  color: @black;
  background-color: @lightblack;
  background-color: @clearwhite;
  text-decoration: none;
}

@media @desktop-widths {
  .special {
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    height: 270px;
  }

  .special__title {
    width: 667px;
    height: 40px;
  }

  .special__item {
    width: 221px;
    height: 230px;
    padding-left: 55px;
  }

  .special__item-name {
    width: 120px;
    padding-top: 120px;
    text-align: center;
  }

  .special__item-price {
    width: 120px;
    text-align: center;
  }
}
