.swiper-container-s1 {
  width: 320px;
  height: 240px;
  overflow: hidden;
}

.swiper-container-s2 {
  width: 320px;
  height: 220px;
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  width: 20px !important;
  height: 20px !important;
  margin-top: 85px !important;
  background-image: none !important;
}

// .swiper-container-s2 .swiper-pagination {
//   left: 50% !important;
// }

// .swiper-container-s1 button {
//   width: 10px;
//   height: 10px;
//   margin-top: -50px;
// }

// .swiper-container-s2 button {
//   width: 10px;
//   height: 10px;
//   margin-top: -50px;
// }

// .swiper-container-s1 .swiper-button-prev::before {
//   content: "";
//   position: absolute;
//   top: 3px;
//   right: -150px;
//   width: 8px;
//   height: 1px;
//   transform: rotate(150deg);
//   background-color: @clearwhite;
// }

// .swiper-container-s2 .swiper-button-prev::before {
//   content: "";
//   position: absolute;
//   top: 3px;
//   right: -150px;
//   width: 8px;
//   height: 1px;
//   transform: rotate(150deg);
//   background-color: @clearwhite;
// }

// .swiper-container-s1 .swiper-button-prev::after {
//   content: "";
//   position: absolute;
//   top: 7px;
//   right: -150px;
//   width: 8px;
//   height: 1px;
//   transform: rotate(30deg);
//   background-color: @clearwhite;
// }

// .swiper-container-s2 .swiper-button-prev::after {
//   content: "";
//   position: absolute;
//   top: 7px;
//   right: -150px;
//   width: 8px;
//   height: 1px;
//   transform: rotate(30deg);
//   background-color: @clearwhite;
// }

// .swiper-container-s1 .swiper-button-next,
// .swiper-container-s1 .swiper-button-prev {
//   background-image: none;
// }

// .swiper-container-s2 .swiper-button-next,
// .swiper-container-s2 .swiper-button-prev {
//   background-image: none;
// }

// .swiper-container-s1 .swiper-button-next::before {
//   content: "";
//   position: absolute;
//   top: 3px;
//   right: 150px;
//   width: 8px;
//   height: 1px;
//   transform: rotate(30deg);
//   background-color: @clearwhite;
// }

// .swiper-container-s2 .swiper-button-next::before {
//   content: "";
//   position: absolute;
//   top: 3px;
//   right: 150px;
//   width: 8px;
//   height: 1px;
//   transform: rotate(30deg);
//   background-color: @clearwhite;
// }

// .swiper-container-s1 .swiper-button-next::after {
//   content: "";
//   position: absolute;
//   top: 7px;
//   right: 150px;
//   width: 8px;
//   height: 1px;
//   transform: rotate(150deg);
//   background-color: @clearwhite;
// }

// .swiper-container-s2 .swiper-button-next::after {
//   content: "";
//   position: absolute;
//   top: 7px;
//   right: 150px;
//   width: 8px;
//   height: 1px;
//   transform: rotate(150deg);
//   background-color: @clearwhite;
// }

// .swiper-container-s1 .swiper-pagination {
//   bottom: 385px !important;

// }

// .swiper-container-s2 .swiper-pagination {
//   bottom: 385px !important;

// }

@media @desktop-widths {
  .swiper-container {
    width: 903px;
    height: 480px;
  }

  .swiper-container-s2 {
    width: 460px;
    height: 400px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 200px !important;
  }

  // .swiper-container-s1 .swiper-button-prev::before {
  //   content: "";
  //   position: absolute;
  //   top: 3px;
  //   right: -150px;
  //   width: 8px;
  //   height: 1px;
  //   transform: rotate(150deg);
  //   background-color: @clearwhite;
  // }

  // .swiper-container-s1 .swiper-button-prev::after {
  //   content: "";
  //   position: absolute;
  //   top: 7px;
  //   right: -150px;
  //   width: 8px;
  //   height: 1px;
  //   transform: rotate(30deg);
  //   background-color: @clearwhite;
  // }

  // .swiper-container-s1 .swiper-pagination {
  //   bottom: -650px !important;
  
  // }
  

//   .swiper-container-s1 .swiper-button-next,
// .swiper-container-s1 .swiper-button-prev {
//   background-image: none;
// }

  // .swiper-container-s1 button {
  //   margin-top: 210px;
  // }

  // .swiper-container-s1 .swiper-button-prev {
  //   margin-left: 60px;
  // }

  // .swiper-container-s1 .swiper-button-next {
  //   margin-right: 60px;
  // }
}
