.text {
  width: 320px;
  height: 435px;
  padding-left: 12px;
  padding-right: 30px;
}

.text__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 21.34px;
  line-height: 21.34px;
  color: @lightblack;
  background-color: @lightgrey;
}

.text__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: auto;
  color: @lightblack;
  background-color: @lightgrey;
}

.text__more {
  margin-top: 70px;
}
