.user {
  // background-color: red;
}
.user__wrapper {
  .container();
  height: 45px;
  border: 1px solid black;
  box-sizing: border-box;
}

@media @desktop-widths {
  .user__wrapper {
    height: 70px;
  }
}


