.user__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 81%;
  min-width: 320px;
  min-height: 40px;
  margin: 0 auto;
  padding: 5px 12px;
  box-sizing: border-box;
  border-bottom: 1px solid @lightgrey;
}

.user__wrapper-grey {
  flex-grow: 1;

  .user__wrapper-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.user__menu-item,
.user__mail,
.user__phone-text,
.user__social,
.user__basket-text,
.user__basket-price,
.user__phone-popup {
  display: none;
}

.user__menu {
  width: 35px;
  height: 35px;
  background-color: @orange;
  border-radius: 50%;
}

.user__menu-button {
  position: relative;
  top: 3px;
  left: 50%;
  width: 12px;
  height: 1px;
  margin-left: -6px;
  background-color: @clearwhite;
  border: none;
}

.user__menu-button::before {
  content: "";
  position: absolute;;
  top: 5px;
  left: 0;
  width: 12px;
  height: 1px;
  background-color: @clearwhite;
}

.user__menu-button::after {
  content: "";
  position: absolute;;
  top: -4px;
  left:0;
  width: 12px;
  height: 1px;
  background-color: @clearwhite;
}

.user__logo {
  position: relative;
  flex-grow: 1;
  margin-left: 12px;
  padding-left: 30px;
}

.user__logo::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/logo-header.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user__logo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: auto;
  color: @darkgrey;
  background-color: @white;
}

.user__logo-descr {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 7.68px;
  line-height: auto;
  color: @grey;
  background-color: @white;
}

.user__search {
  position: relative;
  width: 70px;
  height: 30px;
}

.user__search-sort,
.user__search-text,
.user__searc-button {
  display: none;
}

.user__search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 30px;
  background-image: url("../img/поиск.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user__search::after {
  content: "";
  position: absolute;
  top: 0;
  left: 35px;
  width: 35px;
  height: 30px;
  background-image: url("../img/telephone.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user__basket {
  position: relative;
  width: 35px;
  height: 30px;
}

.user__basket::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 30px;
  background-image: url("../img/shopping-cart.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user__basket::after {
  content: "12";
  position: absolute;
  top: -5px;
  left: 15px;
  width: 15px;
  height: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 10.77px;
  line-height: 14.38px;
  color: @orange;
  background-color: transparent;
}

@media @desktop-widths {
  .user__wrapper {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 110px;
    padding: 0;
  }

  .user__wrapper-green {
    min-height: 50px;
    background-color: @green;
    box-sizing: border-box;

    .user__wrapper-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 81%;
      margin: 0 auto;
    }
  }

  .user__wrapper-grey {
    min-height: 65px;
    padding-top: 10px;
    background-color: @lightgrey;
    box-sizing: border-box;

    .user__wrapper-content {
      justify-content: flex-end;
      width: 81%;
      margin: 0 auto;
    }
  }

  .user__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    width: 62%;
    height: auto;
    background-color: @green;
    border-radius: 0;
    overflow: hidden;
  }

  .user__menu-button {
    display: none;
  }

  .user__menu-item {
    display: block;
    padding: 15px 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    color: @clearwhite;
    background-color: @green;
    text-decoration: none;
    white-space: nowrap;
  }

  .user__mail {
    position: relative;
    align-self: center;
    display: block;
    width: 150px;
    height: auto;
    margin: 0;
    padding: 0 10px;
    color: @clearwhite;
    background-color: @green;

    a {
      position: relative;
      display: block;
      padding-left: 35px;
      padding-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: auto;
      color: @clearwhite;
      background-color: @green;
      text-decoration: none;
    }
  }

  .user__mail a::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 8px;
    width: 20px;
    height: 15px;
    background-image: url("../img/mail-1920.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .user__mail a:hover {
    background-color: @transparentwhite;
  }

  .user__mail-popup {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
    width: 160px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    background-color: @darkgrey;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .user__phone {
    position: relative;
    align-self: center;
    width: 140px;
    height: auto;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    color: @clearwhite;
    background-color: @green;
    cursor: pointer;
    box-sizing: border-box;
  }

  .user__phone-text {
    position: relative;
    display: block;
    width: 150px;
    padding-top: 15px;
    padding-left: 35px;
    padding-bottom: 15px;
    box-sizing: border-box;
  }

  .user__phone-text:hover {
    background-color: @transparentwhite;
  }

  .user__phone-text::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 8px;
    width: 20px;
    height: 20px;
    background-image: url("../img/phone-1920.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .user__phone:hover .user__phone-popup {
    display: block;
  }

  .user__phone-popup {
    position: absolute;
    top: 50px;
    right: -20px;
    z-index: 10;
    display: none;
    width: 755px;
    height: 345px;
    padding: 15px 15px;
    color: @darkgrey;
    background-color: @clearwhite;
    box-sizing: border-box;
  }

  .user__phone-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .user__phone-close {
    width: 100%;
    height: 25px;
    margin-left: auto;
    margin-bottom: 25px;
    background-color: @clearwhite;
  }

  .user__phone-close button {
    position: relative;
    left: 97%;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .user__phone-close button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;
    width: 1px;
    height: 25px;
    background-color: @darkgrey;
    transform: rotate(45deg);
    box-sizing: border-box;
  }

  .user__phone-close button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;
    width: 1px;
    height: 25px;
    background-color: @darkgrey;
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

  .user__phone-contacts {
    width: 280px;
    height: 230px;
    margin-left: 35px;
    box-sizing: border-box;

    a {
      position: relative;
      display: block;
      margin: 5px 0;
      padding: 5px 30px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: @black;
      background-color: @clearwhite;
      text-decoration: none;
      box-sizing: border-box;
    }
  }

  .user__phone-number {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: @green;
    background-color: @clearwhite;
  }

  .user__phone-descr {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: @grey;
    background-color: @clearwhite;
  }

  .user__phone-title {
    display: block;
    margin: 21px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: @black;
    background-color: @clearwhite;
  }

  .user__phone-mob::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone-popup.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .user__phone-viber::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 30px;
    height: 30px;
    background-image: url("../img/vider-popup.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .user__phone-telegram::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 30px;
    height: 30px;
    background-image: url("../img/telegram-popup.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .user__phone-whatsapp::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 30px;
    height: 30px;
    background-image: url("../img/whatsapp-popup.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .user__logo {
    min-width: 10px;
    height: 50px;
    flex-grow: 0;
    margin-left: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    overflow: hidden;
  }

  .user__logo::before {
    top: 5px;
    left: 5px;
    width: 40px;
    height: 50px;
    background-image: url("../img/logo-header-1920.png");
  }

  .user__logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: auto;
    color: @moreblack;
    background-color: @lightgrey;
  }

  .user__logo-descr {
    display: none;
  }

  .user__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    align-self: center;
    position: relative;
    width: 200px;
    height: 35px;
    background-color: @orange;
    box-sizing: border-box;
  }

  .user__search-sort {
    position: relative;
    display: block;
    width: 65px;
    height: 35px;
    padding: 9px 15px;
    padding-right: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    color: @grey;
    background-color: @white;
    box-sizing: border-box;
    overflow: hidden;
  }

  .user__search-sort::after {
    content: "▼";
    position: absolute;
    top: 9px;
    left: 42px;
    width: 10px;
    height: 10px;
    color: @darkgrey;
  }

  .user__search-text {
    flex-grow: 1;
    display: block;
    width: auto;
    min-width: 50px;
    height: 33px;
    border: none;
  }

  .user__searc-button {
    position: relative;
    display: block;
    min-width: 50px;
    height: 35px;
    background-color: @orange;
    border: none;
  }

  .user__searc-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 35px;
    background-image:  url("../img/search-1920.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .user__search::before {
    display: none;
  }

  .user__search::after {
    display: none;
  }

  .user__social {
    align-self: center;
    position: relative;
    display: block;
    min-width: 150px;
    max-width: 150px;
    height: 35px;
    margin-top: 3px;
    margin-left: 20px;
    padding-left: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: @grey;
    background-color: @lightgrey;
    box-sizing: border-box;
  }

  .user__social::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 35px;
    height: 35px;
    background-image: url("../img/social-1920.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .user__basket {
    align-self: center;
    position: relative;
    min-width: 140px;
    height: 35px;
    margin-top: 3px;
    padding-left: 45px;
    box-sizing: border-box;
  }

  .user__basket-text {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: @grey;
    background-color: @lightgrey;
  }

  .user__basket-price {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @moreblack;
    background-color: @lightgrey;
  }

  .user__basket::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 35px;
    height: 30px;
    background-image: url("../img/cart-1920.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .user__basket::after {
    content: "12";
    position: absolute;
    top: -5px;
    left: 15px;
    width: 15px;
    height: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: @orange;
    background-color: transparent;
  }
}
