.user__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-height: 40px;
  padding: 5px 12px;
}

.user__wrapper-grey {
  flex-grow: 1;

  .user__wrapper-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.user__menu-item,
.user__mail,
.user__phone-text,
.user__social,
.user__basket-text,
.user__basket-price {
  display: none;
}

.user__menu {
  width: 35px;
  height: 35px;
  background-color: @orange;
  border-radius: 50%;
}

.user__logo {
  position: relative;
  flex-grow: 1;
  margin-left: 12px;
  padding-left: 30px;
  border: 1px solid black;
}

.user__logo::before {
  content: "";
  position: absolute;
  top: 2px;;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/logo-header.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user__logo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: auto;
  color: @darkgrey;
  background-color: @white;
}

.user__logo-descr {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 7.68px;
  line-height: auto;
  color: @grey;
  background-color: @white;
}

.user__search {
  position: relative;
  width: 70px;
  height: 30px;
  border: 1px solid black;
}

.user__basket {
  width: 35px;
  height: 30px;
  border: 1px solid black;
}

@media @desktop-widths {
  .user__wrapper {
    flex-direction: column;
    align-items: stretch;
    min-height: 110px;
    padding: 0;
    border: 1px solid black;
  }

  .user__wrapper-green {
    min-height: 50px;
    // padding-top: 15px;
    background-color: @green;
    box-sizing: border-box;

    .user__wrapper-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 81%;
      margin: 0 auto;
      border: 1px solid black;
    }
  }

  .user__wrapper-grey {
    min-height: 65px;
    padding-top: 10px;
    background-color: @lightgrey;
    box-sizing: border-box;

    .user__wrapper-content {
      width: 81%;
      margin: 0 auto;
      border: 1px solid black;
    }
  }

  .user__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 62%;
    height: auto;
    background-color: @green;
    border-radius: 0;
    border: 1px solid black;
  }

  .user__menu-button {
    display: none;
  }

  .user__menu-item {
    display: block;
    padding: 15px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    color: @clearwhite;
    background-color: @green;
    text-decoration: none;
  }

  .user__mail {
    align-self: center;
    display: block;
    width: 140px;
    height: auto;
    padding-left: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    color: @clearwhite;
    background-color: @green;
    border: 1px solid black;
  }

  .user__phone-text {
    display: block;
  }

  .user__phone {
    align-self: center;
    width: 130px;
    height: auto;
    padding-left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    color: @clearwhite;
    background-color: @green;
    border: 1px solid black;
  }

  .user__logo {
    margin-left: 0;
  }

  .user__logo-text {
    background-color: @lightgrey;
  }

  .user__logo-descr {
    background-color: @lightgrey;
  }
}
